{% extends 'base.html' %}
{% block content %}


{% if error %}
<br>{{error}}<br>
{% endif %}
<h1>signup for free!!!</h1>
<form method="POST" action="{% url 'signup' %}">
	{% csrf_token %}

	<input type="text" name="username" placeholder="Enter your username">
	<br><br>
	<input type="password" name="password1" placeholder="Enter your password">
	<br><br>
	<input type="password" name="password2" placeholder="Confirm your password">
	<br><br>
	<input class="btn btn-primary" type="submit" name="submit" value="Sign Up !!!"><br><br>
</form>
{% endblock %}